body {
  border: 5px solid black;
  font-family: sans-serif;
  line-height: 1.4;
}

/* HEADER */
header {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
}

/* LINK */
a:any-link {
  color: black;
}

a:hover {
  text-decoration: none;
}
aside p {
  font-weight: bold;
}

/* LIST */
li {
  list-style: square;
}

/* PRODUCT INFORMATION */
.free-shipping {
  font-size: 12px;
  font-weight: bold;
  color: #777;
}

.price {
  font-size: 25px;
}

/* BUTTON */
button {
  cursor: pointer;
  font-size: 20px;
  border: none;
  color: white;
  background-color: black;
}

button:hover {
  color: black;
  background-color: white;
}
