body {
  border: 5px solid black;
  font-family: sans-serif;
  line-height: 1.4;
}

/* HEADER */
header {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
}

/* LINK */
.more-info:any-link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* ASIDE */
aside p {
  font-weight: bold;
}

/* LIST */
li {
  list-style: square;
}

/* PRODUCT INFORMATION */
.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
.price {
  font-size: 24px;
}

/* BUTTON */
.add-cart {
  cursor: pointer;
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: black;
}
.add-cart:hover {
  color: black;
  background-color: white;
}
