* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  position: relative;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  border: none;
  right: 20px;
  bottom: 20px;
}

button:hover {
  color: white;
  background-color: black;
}

h1::first-letter {
  font-style: normal;
  margin-right: 15px;
}

h3 + p::first-line {
  color: brown;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  padding: 5px 10px;
  display: inline-block;
  position: absolute;
  top: -15px;
  right: -25px;
  color: black;
}

nav {
  font-size: 20px;
  /* text-align: center; */
}

nav a:link {
  /* background-color: black;
  margin: 10px;
  padding: 10px;
  display: block; */
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}

.main-header {
  background-color: rgb(238, 238, 238);
  /* background-color: red; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 90px; */
}

.art-header {
  margin-bottom: 30px;
  /* position: relative; */
}

aside {
  background-color: rgb(255, 255, 255);
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 15px;
  /* display: inline-block; */
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(162, 22, 22);
}

.related {
  list-style: none;
  margin-left: 0;
}

/* aside ul{
  list-style: none;
} */

/* body {
  background-color: beige;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  color: aquamarine;
  /* margin-bottom: 0; */
}

/* li:nth-child(odd) {
  color: blueviolet;
}

li:nth-child(even) {
  color: rgb(159, 226, 43);
} */

/* Misconception: this won't work! */

article {
  margin-bottom: 70px;
}

article p:first-child {
  color: rgb(0, 255, 128);
}

article p:last-child {
  color: rgb(255, 0, 132);
}

/* styling links */

/* a {
  color: red;
} */

a:any-link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline double black;
}

a:active {
  background-color: black;
  font-style: italic;
}

/*LVHA */

.post-img {
  width: 100%;
  height: auto;
  /* margin: 100px; */
}
/* resolving conflicts */

/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* floth */

.art_img {
  float: left;
  margin-bottom: 20px;
}

.author {
  /* padding-left: 80px; */
  margin-top: 10px;
  float: left;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

/* .clear{
  clear: both;
} */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

article {
  /* background-color: green; */
  width: 825px;
  float: left;
}

aside {
  /* background-color: red; */
  float: right;
  /* position: absolute; */
  /* top: 135px */
  width: 300px;
}

footer {
  /* background-color: yellow; */
  clear: both;
}
