* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 4px solid black;
  font-family: sans-serif;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

p {
  line-height: 1.8;
}

/* HEADER */
header {
  text-align: center;
  background-color: #baadad5b;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
}

.sele {
  background-color: rgb(222, 0, 0);
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 15px;
  display: inline-block;
  letter-spacing: 1.5px;
  position: absolute;
  top: -20px;
  left: -36px;
  /* width: 40px; */
  /* text-align: center; */
}

/* header::before {
  content: "sale";
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: rgb(234, 0, 0);
  padding: 5px 12px;
  position: absolute;
  top: -14px;
  left: -34px;
} */

/* LINK */

/* .more-info {
  display: inline-block;
  margin-bottom: 40px;
} */

.more-info:any-link,
.more-info:visited {
  color: black;
  margin-bottom: 20px;
  display: inline-block;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* ASIDE */

aside p {
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 30px;
}

aside {
  position: relative;
}

/* aside::after {
  content: "";
  padding: 10px;
  background-color: black;
  position: absolute;
  top: -40px;
  left: 0;
}

aside::before {
  content: "";
  padding: 10px;
  background-color: blue;
  position: absolute;
  top: -40px;
  left: 30px;
} */

/* LIST */
aside li {
  list-style: square;
  margin-left: 20px;
  /* line-height: 1.9; */
  margin-bottom: 10px;
}

/* PRODUCT INFORMATION */
.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
  float: right;
}
.price {
  font-size: 24px;
  float: left;
}

/* BUTTON */
.add-cart {
  cursor: pointer;
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: black;
  transition: 0.7s;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}
.add-cart:hover {
  color: black;
  background-color: white;
}

/* .colors {
  padding-right: 10px;
  display: inline;
} */

.color {
  height: 22px;
  width: 22px;
  background-color: black;
  margin-right: 10px;
  display: inline-block;
}

.color_black {
  background-color: black;
}

.color_blue {
  background-color: blue;
}

.color_yellow {
  background-color: rgb(240, 240, 0);
}

.color_green {
  background-color: rgb(0, 240, 68);
}

.color_red {
  background-color: red;
}

.color_brown {
  background-color: brown;
}

/* .colors {
  position: absolute;
  top: 468.5px;
  left: 60px;
}

.b1,
.b2,
.b3,
.b4 {
  border: none;
  padding: 10px;
  margin-right: 8px;
}

.b1 {
  background-color: red;
}
.b2 {
  background-color: rgb(236, 236, 0);
}
.b3 {
  background-color: greenyellow;
}
.b4 {
  background-color: saddlebrown;
} */

.img {
  /* background-color: yellow; */
  float: left;
}

.product {
  /* background-color: green; */
  float: left;
  width: 243px;
  padding-top: 20px;
  margin-left: 40px;
}

.product_details {
  /* background-color: red; */
  float: left;
  width: 243px;
  margin-top: 20px;
  margin-left: 40px;
}

/* .free-shipping,
.price {
  display: inline-block;
} */

.free-shipping {
  margin-top: 8px;
}

aside p {
  margin-top: 0;
}

.product_description {
  clear: both;
}
