/* rem and em do NOT depend on html font-size in media queries! 
instead, 1rem = 1em = 16px */




/**************************/
/* BELLOW 1344px (Smaller desktop) */
/**************************/

@media (max-width: 84rem) {

  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}



/**************************/
/* BELLOW 1200px (Landscape tablets) */
/**************************/

@media (max-width: 75rem) {

  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .testimonial-box {
    padding: 3.2rem;
  }

  .meal-content {
    padding: 3.2rem 2.6rem 4.4rem;
  }
}



/**************************/
/* BELLOW 944px (Tablets) */
/**************************/

@media (max-width: 59rem) {

  html {
    /* 8px / 16px */
    font-size: 50%;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav-list {
    background-color: hsla(0, 0%, 100%, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    transition: all 0.5s ease-in;
    transform: translateX(100%);

    /* Hide nav */
    /* Allows NO transition at all */
    /* display: none; */

    /* 1- Hide it visually */
    opacity: 0;

    /* 2- Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav-list {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.6rem;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
    padding: 0 9.6rem;
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-img {
    width: 50%;
  }

  .hero-img-box {
    display: flex;
    justify-content: center;
  }

  .delivered-meals {
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.6rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .testimonial-section {
    grid-template-columns: 1fr;
  }

  .testimonial-box {
    padding: 8rem 2.2rem;
  }

  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .meal-content {
    padding: 1.6rem;
  }

  .cta {
    grid-template-columns: 55% 45%;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.6rem;
  }
}



/**************************/
/* BELLOW 944px (Tablets) */
/**************************/

@media (max-width: 44rem) {

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .meal-content {
    padding: 6.4rem 3.2rem;
  }

  .diet-box {
    grid-column: 1/-1;
    justify-self: center;
  }

  .gallery-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .pricing-plan {
    width: 100%;

  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: 2 span;
  }

  .logo-col,
  .address-col {
    grid-column: 3 span;
  }
}



/* FONT SIZE SYSTEM (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */